<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Circle Media</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link th:href="@{/css/home.css}" rel="stylesheet">
</head>
<body>

<div class="container">
  <div class="heading" >Where do You want to go?</div>
  <div class="pagesUser">
    <a th:href="@{/guest/pictures}">
      <i class="fas fa-image"></i>
      <h1 class="page-label">Picture</h1>
    </a>
    <a th:href="@{/guest/presentations}">
      <i class="fas fa-file-powerpoint"></i>
      <h1 class="page-label">Presentation</h1>
    </a>
    <a th:href="@{/guest/videos}">
      <i class="fas fa-video"></i>
      <h1 class="page-label">Video</h1>
    </a>
  </div>
</div>
</body>
</html>