<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<head th:replace="fragments :: page_head_guest(${pageTitle})"></head>
<!-- /Head -->

<body class="single-media dark">
<!-- Navbar -->
<div th:replace="fragments :: navigationGuest('Videos', 'videos')"></div>
<!-- /Navbar -->

<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xs-12 col-sm-12">
                <div class="sv-media">
                    <video th:poster="@{${video.videoThumbnailPath}}" style="width:100%;height:100%;" controls="controls" width="100%" height="100%" onloadstart="this.volume=0.2">
                        <source th:src="@{${video.videoPath}}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'></source>
                    </video>
                </div>
                <h1 class="heading" th:text="${video.title}"></h1>
                <div class="author">
                    <a th:href="@{|/guest/videos/userVideos/${video.user.id}|}" >
                        <img th:src="@{${video.user.profileImagePath}}" class="sv-avatar" alt="Profile image">
                    </a>
                    <div class="sv-name">
                        <div><a th:href="@{|/guest/videos/userVideos/${video.user.id}|}" th:text="${video.user.fullUserName}"></a>
                            <p th:text="${countVideosByUser} + '&nbsp;&nbsp;Videos'"></p>
                        </div>
                    </div>
                    <div class="sv-views" id="voteSection"
                         th:with="ratingLikeSum=${video.getLikeRatingSum()},
                                   ratingDislikeSum=${video.getDislikeRatingSum()},
                                   calculatedPercent=${video.calculatedPercent()}">
                        <div class="sv-views-progress" data-toggle="tooltip" data-placement="top" th:title="${video.calculatedPercent()} + '%'">
                            <div class="sv-views-progress-bar" th:style="'width: ' + ${calculatedPercent} + '%' + ';'" ></div>
                        </div>
                        <div class="sv-views-stats">
                            <a class="rating-arrow like-arrow" >
                                <i class="fas fa-thumbs-up"></i>
                            </a>
                            <span class="rating-value-like" th:text="${ratingLikeSum}"
                                  th:classappend="${ratingLikeSum == 0} ? 'rating-value-no' : 'rating-value-positive'"></span>
                            <a class="rating-arrow dislike-arrow" >
                                <i class="fas fa-thumbs-down"></i>
                            </a>
                            <span class="rating-value-dislike" th:text="${ratingDislikeSum}"
                                  th:classappend="${ratingDislikeSum == 0} ? 'rating-value-no' : 'rating-value-negative'"></span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="info">
                    <h4>Description:</h4>
                    <p th:text="${video.description}"></p>
                    <h4>Category:</h4>
                    <p class="sv-tags">
                        <span th:text="${video.category}" style="color: #b3b3b3"></span>
                    </p>
                    <div class="row date-lic">
                        <div class="col-lg-6">
                            <h4>Posted:</h4>&nbsp;
                            <p th:text="${#temporals.format(video.createdAt, 'dd-MMM-YYY &bull; HH:mm')}"></p>
                        </div>
                    </div>

                    <!-- Comments container -->
                    <div class="comments">
                        <div class="reply-comment">
                            <div class="rc-header" id="commentCount">
                                <i class="far fa-comment"></i>
                                <span class="semibold" th:text="${countComments}"></span>
                                <span>&nbsp;Comments</span>
                            </div>
                            <div class="rc-ava">
                                <img th:src="@{/images/profile-icon.png}" alt="Profile image">
                            </div>
                            <div class="rc-comment">
                                <form action="javascript:void(0)" id="commentForm">
                                    <textarea rows="3" placeholder="You must be logged in to leave a comment!" readonly></textarea >
                                    <button type="submit" disabled="true">
                                        <i class="cv fas fa-paper-plane"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- Comments header -->
                        <div class="comments-list" id="comment_header">
                            <div class="cl-header" >
                                <div class="c-nav">
                                    <ul class="list-inline">
                                        <li><a data-comment-sort-type="newest" th:attr="data-action='commentSort', data-href=@{|/guest/videos/watch/${video.id}?commentSort=newest|}" id="newest" class="disabledLink active">Newest Comments</a></li>
                                        <li><a data-comment-sort-type="oldest" th:attr="data-action='commentSort', data-href=@{|/guest/videos/watch/${video.id}?commentSort=oldest|}" id="oldest" >Oldest Comments</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Comments list -->
                            <div id="commentList">
                                <p class="noRecords" th:if="${listAllCommentsByVideo.isEmpty()}">Be the first to comment!</p>
                            <div class="cl-comment" th:each="comment : ${listAllCommentsByVideo}">
                                <div class="cl-avatar"><a th:href="@{|/guest/videos/userVideos/${comment.user.id}|}">
                                    <img th:src="@{${comment.user.profileImagePath}}" alt="Profile image"></a></div>
                                <div class="cl-comment-text">
                                    <div class="cl-name-date">
                                        <a th:href="@{|/guest/videos/userVideos/${comment.user.id}|}" th:text="${comment.user.getFullUserName()}">
                                        </a>&nbsp;&nbsp;<span th:text="${#temporals.format(comment.createdAt, 'dd-MMM-YYY &bull; HH:mm')}"></span></div>
                                    <div class="cl-text" th:text="${comment.text}"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            </div>
                            <!-- END Comments list -->
                        </div>
                        <!-- END Comments header -->
                    </div>
                    <!-- END Comments container -->
                </div>
            </div>

            <!-- right column -->
            <div class="col-lg-4 col-xs-12 col-sm-12">
                <!-- up next -->
                <div class="caption">
                    <div class="left">
                        <span style="color: #a5a5a5" >More videos</span >
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="list" id="listRightMedias">
                    <div class="h-media row" th:each="video : ${listAllVideos}">
                        <div class="col-lg-6 col-sm-6">
                            <div class="v-img">
                                <a th:href="@{|/guest/videos/watch/${video.id}|}">
                                    <img th:src="@{${video.videoThumbnailPath}}" alt="Video thumbnail"></a>
                                <div class="time" th:text="${video.category}"></div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="v-desc">
                                <a th:href="@{|/guest/videos/watch/${video.id}|}" th:text="${video.title}"></a>
                            </div>
                            <div class="v-views">
                                <a th:href="@{|/guest/videos/userVideos/${video.getUser().getId()}|}">
                                    <span th:text="${video.user.fullUserName}"></span>
                                </a>
                                <p th:text="${#temporals.format(video.createdAt, 'dd-MMM-YYY &bull; HH:mm')}"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- END up next -->
                <!-- load more -->
                <div class="loadmore">
                    <a>Show more Videos</a>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- footer -->
<footer th:replace="fragments :: footer('/guest/home')"></footer>
<!-- /footer -->
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/custom.js}"></script>

</body>
</html>
